:root {
	--darkpurple: #363237;
	--blue: #2D4262;
	--taupe: #73605B;
	--tan: #D09683;
}

header.masthead .container-fluid {
	background-color: var(--blue);
	padding: 15px;}
	header.masthead .container-fluid .main-header-text {
		color: var(--tan);}