@import url('https://fonts.googleapis.com/css?family=Lato|Quicksand');

:root {
	--charcoal: #314455; 
	--pewterblue: #97AABD;
	--wenge: #644E58;
	--rosedust: #9E5A63;
	--fuzzywuzzy: #C96567;
}

/*
font-family: 'Quicksand', sans-serif;
font-family: 'Lato', sans-serif;
*/

html, body {
	height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: 700;
	font-family: 'Quicksand', sans-serif;
}

p {
	font-family: 'Lato', sans-serif;
	color: var(--charcoal);
	line-height: 1.75;
}

section {
  padding: 100px 0; }
  section h2.section-heading {
    font-size: 40px;
    margin-top: 0;
    margin-bottom: 15px;
    font-family: 'Quicksand', sans-serif; }
  section h3.section-subheading {
    font-size: 16px;
    font-weight: 400;
    font-style: italic;
    margin-bottom: 75px;
    text-transform: none; }

.img-thumbnail {
	background-color: var(--wenge);
	border-color: var(--fuzzywuzzy);
}

#masthead {
	height: 100%;
	background: linear-gradient( rgba(49, 68, 85, 0.9), rgba(49, 68, 85, 0.9) ), url(../img/header/night.jpg);
    background-position-x: center;
    background-position-y: center;
    background-size: cover;
    background-repeat-x: no-repeat;
    background-repeat-y: no-repeat;
    background-attachment: scroll;
    background-origin: initial, initial;
    background-clip: initial, initial;
    background-color: initial;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover }
	#masthead .container { }
		#masthead .container .section-heading {
			font-size: 75px;
			color: var(--fuzzywuzzy); }
			#masthead .container .section-heading .accent {
				color: var(--pewterblue); }
		#masthead .container .section-subheading {
			color: var(--pewterblue); }

#about {
	padding-bottom: 0;
	background-color: var(--fuzzywuzzy); }
	#about .bottom-image {
		height: 181px;
		background: url("../img/about/forest-rosedust.png") left bottom repeat-x; }
	#about .container .about-content { 
		margin-left: auto;
		margin-right: auto; }
	#about .container { }
	#about .container .about-content {
		padding-top: 100px;
		padding-bottom: 100px;
	}
	#about .container .section-heading {
		font-size: 4em;
		color: var(--pewterblue);
		padding-bottom: 15px;
		margin-bottom: 0; }
	#about .container .section-subheading {
		color: var(--wenge);
		font-style: italic;
		font-size: 28px;
	}
	#about .container p {
		font-size: 1.5em;
	}



#portfolio {
	background-color: var(--rosedust);
}
#portfolio .portfolio-item {
  right: 0;
  margin: 0 0 15px; }
  #portfolio .portfolio-item .portfolio-link {
    position: relative;
    display: block;
    max-width: 400px;
    margin: 0 auto;
    cursor: pointer; }
    #portfolio .portfolio-item .portfolio-link .portfolio-hover {
      position: absolute;
      width: 100%;
      height: 100%;
      -webkit-transition: all ease 0.5s;
      -moz-transition: all ease 0.5s;
      transition: all ease 0.5s;
      opacity: 0;
      background: rgba(247, 206, 62, 0.8); }
      #portfolio .portfolio-item .portfolio-link .portfolio-hover:hover {
        opacity: 1; }
      #portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content {
        font-size: 20px;
        position: absolute;
        top: 50%;
        width: 100%;
        height: 20px;
        margin-top: -12px;
        text-align: center;
        color: white; }
        #portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content a {
          color: #1A2930;
          -webkit-transition: all 0.5s ease-out;
          -moz-transition: all 0.5s ease-out;
          -o-transition: all 0.5s ease-out;
          -ms-transition: all 0.5s ease-out;
          transition: all 0.5s ease-out;
        }
        #portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content a:hover {
          color: white;
          -webkit-transition: all 0.5s ease-out;
          -moz-transition: all 0.5s ease-out;
          -o-transition: all 0.5s ease-out;
          -ms-transition: all 0.5s ease-out;
          transition: all 0.5s ease-out; }
        #portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content i {
          margin-top: -12px; }
        #portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content h3,
        #portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content h4 {
          margin: 0; }
  #portfolio .portfolio-item .portfolio-caption {
    max-width: 400px;
    margin: 0 auto;
    padding: 25px;
    text-align: center; }
    #portfolio .portfolio-item .portfolio-caption h4 {
      margin: 0;
      text-transform: none; }
    #portfolio .portfolio-item .portfolio-caption p {
      font-size: 16px;
      font-style: italic;
      margin: 0;
      font-family: 'Open Sans', sans-serif; }

/***********ANIMATIONS************/
.shake {
	-webkit-animation-name: shake;
	animation-name: shake;
	-webkit-animation-duration: 10s;
	animation-duration: 10s;
	animation-iteration-count: infinite;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both; }

@-webkit-keyframes shake {
	0%, 100% {
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0); }
	10%, 30%, 50%, 70%, 90% {
		-webkit-transform: translate3d(-10px, 0, 0);
		transform: translate3d(-10px, 0, 0); }
	20%, 40%, 60%, 80% {
		-webkit-transform: translate3d(10px, 0, 0);
		transform: translate3d(10px, 0, 0); } }

@keyframes shake {
	0%, 100% {
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0); }
	10%, 30%, 50%, 70%, 90% {
		-webkit-transform: translate3d(-5px, 0, 0);
		transform: translate3d(-5px, 0, 0); }
	20%, 40%, 60%, 80% {
		-webkit-transform: translate3d(5px, 0, 0);
		transform: translate3d(5px, 0, 0); } } 