:root {
	--charcoal: #314455;
	--wenge: #644E58;
	--rosedust: #9E5A63;
	--fuzzywuzzy: #C96567;
	--pewterblue: #97AABD;
}


header.masthead {
	background: 
	linear-gradient(
      rgba(158, 90, 99, 0.9), 
      rgba(158, 90, 99, 0.9)), 
	url(../img/header/night.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
  	overflow: hidden; }
	header.masthead .container-fluid {
		padding-top: 370px;
		padding-bottom: 400px; }
		header.masthead .container-fluid .main-header-text {
			font-size: 6em;
			color: var(--charcoal); }
			header.masthead .container-fluid .main-header-text .accent {
				color: var(--charcoal); }
		header.masthead .container-fluid .sub-header-text {
			font-size: 3em;
			color: var(--charcoal); }
